
{% load staticfiles %}


<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{% static 'TimeToRhyme/style.css' %}" />



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Time To Rhyme</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

</head>
<body>

<div id="slider">
	<div id="tooplate_wrapper">
        <div id="tooplate_sidebar">

            <div id="header">
                <h1>Time To <br/> <br/> Rhyme</h1>
            </div>

            <div id="menu">
                <ul class="navigation">
                    <li class="selected menu_01"><a href="/home/" style="background: none ; border: hidden;color: #fff;font-size: 18px">Home</a></li>
                    <li class="menu_02"><input type="submit" value="Find a Rhyme " name="Notheme" id="Notheme" form="myform" style="background: none ; border: hidden;color: #fff;font-size: 18px"></li>
                    <li class="menu_03"><input type="submit" value="Find Rhyme by theme " name="Theme" id="Theme" form="myform" style=" background: none; border: hidden; color: #fff;font-size: 18px " ></li>
                    <li class="menu_04"><input type="submit" value="Find synonyms " name="synonyms" id="synonyms" form="myform" style=" background: none; border: hidden; color: #fff;font-size: 18px " ></li>
                    <li class="menu_05"><a href="/aboutUs/"style="background: none ; border: hidden;color: #fff;font-size: 18px">About Us</a></li>
                </ul>
            </div>
		</div> <!-- end of sidebar -->
        <div id="content" >

<h2>About Us</h2>
<p style="direction: rtl;">

        פרויקט סיום מדעי הרוח הדיגיטלים
    Time To Rhyme
</br>


מטרת הפרוייקט הוא להקל על כותבי שירים וברכות לכתוב שירים או ברכה בחרוזים.
</br>

 האתר מאפשר לכותב לכתוב את השיר וברגע אשר הכותב צריך למצוא חרוז לשורה האחרונה בשיר שלו יש לו אפשרות לבחור בין מציאת חרוז באופן כללי או חרוז לפי נושא השיר.
</br>

המערכת מחליטה את נושא השיר על פי מספר המילים הגבוה ביותר בשיר עד כה מנושא מסויים.
</br>

בנוסף כותב השיר יכול לחפש מילה נרדפת למילה האחרונה אותה כתב המוטיבציה להוסיף מילים נרדפות נבעה מכך שלפעמים משורר רוצה להביע את אותה מילה או כוונה בכמה מילים שונות.
</br>

כיום באינטרנט ישנם אתרים רבים כגון:
</br>

www.rhymezone.com
</br>

www.rhymes.net
</br>

www.rhymer.com
</br>

אך ניתן לראות שאתרים אלו מוצאים חרוז למילה מסויימת בשונה מהאתר שלנו אשר מאפשר לכותב לכתוב את כל הטקסט שלו באתר ובאופן אוטומטי מוצא את החרוזים למילה האחרונה שנכתבה עד כה ולכן מקל על הכותב בכך שהשיר מצוי תמיד מול עיניו והוא יכול בקלות לנסות כל מיני אפשרויות של מילים ללא צורך לעזוב את הדף בו הוא נמצא.
</br>

מקורות המידע העיקריים הם קבצים של חרוזים בשפה האנגלית \ קובץ של מילים לפי נושאים.
</br>

 והטכנולוגיות הבאות:
    </br>
•	Language - python
    </br>
•	Web frameworl- Django
    </br>
•	Python packegs – Wordnet
</br></br>

מיכל דן-302572573
גיל מגלי-201091550




</p>

</div>

    </div>

    <div class="cleaner"></div>
</div>

</body>
</html>

